<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <a href="/vieworder">To table</a>
</head>
<body>
    <form action="/createorder" method="post">
        <input type="text" name="customerName" placeholder="Customer Name"> <br>
        <input type="text" name="customerAddress" placeholder="Customer Address"><br>
        <input type="text" name="mountaindew">mountaindew <br>
        <input type="text" name="coke">coke <br>
        <input type="text" name="drpepper">drpepper <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>