<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/createorder" method="post">
    <input type="text" name="customerAddress">customer address <br>
    <input type="text" name="customerName">customer name <br>
    <input type="number" name="CRV">CRV <br>
    <input type="number" name="Element">Element <br>
    <input type="number" name="Caliber"> Caliber <br>
    <input type="submit" value="submit">
</form>
</body>
</html>