<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/createorder" method="post">
    <input type="text" name="customerAddress" placeholder="Customer Address">
    <input type="number" name="battlepass">battlepass <br>
    <input type="number" name="amongus">amongus <br>
    <input type="number" name="sussy">sussy <br>
    <input type="submit" value="submit">
    </form>
</body>
</html>