<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <a href="/report">view report</a>
    </p>
    <form class ="" action="neworder" method="post">
    <input type="text" name="customerName" placeholder="customer name"><br>
    <textarea name="customerAddress" placeholder="customer address" cols="40" rows="3"></textarea>
    <input type="text" name="item1" value="0"> sussy <br>
    <input type="text" name="item2" value="0"> sussy2 <br>
    <input type="text" name="item3" value="0"> sussy3 <br>
    <input type="submit" value="new order">
    </form>
</body>
</html>